<div id="course-info-modal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2 id="course-name">Course Name</h2>
        <p id="course-join-code"></p>
        <p id="course-enrollment"></p>
        <p id="next-session-info"></p>
        <button type="button" id="open-create-session-modal-btn">Create Session</button>
        <button id="download-attendance-btn">Download Attendance</button>
    </div>
    {% include 'modals/create_session_modal.html' %}
</div>