<div id="create-session-modal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Create Session</h2>
        <form id="create-session-form" action="/create_session" method="POST" autocomplete="off">
            <input type="hidden" id="new-session-course-id" name="course_id">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <label for="session-start-date">Start Date:</label>
            <input type="datetime-local" id="session-start-date" name="start_date" required><br><br>
            <label for="session-end-date">End Date:</label>
            <input type="datetime-local" id="session-end-date" name="end_date" required><br><br>
            <button type="submit">Create</button>
        </form>
    </div>
</div>