{% block content %}
<div id="blurOverlay"></div> 

<div class="card_course_status_style popover_card" id="popoverCard">
    <h1>Course Name</h1>
    <p>Todays Date: 9-20-24</p>
    
    <h4>Attendance History</h4>
    <ul>
        <li><strong>9-13-24</strong> - Absent</li>
        <li><strong>9-6-24</strong> - Present</li>
        <li><strong>8-30-24</strong> - Present</li>
    </ul>

    <button id="closeButton">Close</button>
</div>
</div>

<script>
// Toggle the popover and background blur visibility
document.querySelectorAll('.toggleButton').forEach(button => {
    button.addEventListener('click', function() {
        var popover = document.getElementById('popoverCard');
        var blurOverlay = document.getElementById('blurOverlay');
        
        if (popover.style.display === 'none' || popover.style.display === '') {
            popover.style.display = 'flex';
            blurOverlay.style.display = 'block'; 
        } else {
            popover.style.display = 'none';
            blurOverlay.style.display = 'none'; 
        }
    });
});

document.getElementById('closeButton').addEventListener('click', function() {
    document.getElementById('popoverCard').style.display = 'none';
    document.getElementById('blurOverlay').style.display = 'none'; 
});


</script>
{% endblock %}
