<!DOCTYPE html>

{% extends 'layout.html' %}

{% block content %}
<h1 id="page-title">Login</h1>
<div id="form-container">
        <form id="login-form" action="/login" method="POST" style="display: block;">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <label for="email" id="login_email_label">Email:</label>
                <input type="text" id="login_email_input" name="email" placeholder="you@charlotte.edu"><br><br>
                <label for="password" id="login_password_label">Password:</label>
                <input type="password" id="login_password_input" name="password"><br><br>
                
                
                <button type="submit" id="login_btn">Login</button>
        </form>

        <form id="register-form" action="/register" method="POST" style="display: none;">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <label for="firstName">First Name:</label>
                <input type="text" id="rf_firstName" name="firstName" required><br><br>

                <label for="lastName">Last Name:</label>
                <input type="text" id="rf_lastName" name="lastName" required><br><br>

                <label for="email">Email:</label>
                <input type="email" id="rf_email" name="email" placeholder="you@charlotte.edu" required><br><br>

                <label for="password" id="rf_password_label">Password:</label>
                <input type="password" id="rf_password" name="password" required><br><br>

                <button type="submit" id="rf_register_btn">Register</button>
        </form>
</div>

<p id="no_account_text">Don't have an account?</p>
<p id="toggle-link"> <button type="button" onclick="toggleForms(), console.log('button clicked!')">Register</button></p>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='scripts.js') }}"></script>
{% endblock %}
